*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.box{
    width:200px;
    padding:20px;
    border:30px solid black;
    margin:30px;
    background:lightyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
